@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.main-header {
	background: url(../images/top-bg.jpg) no-repeat;
	min-height: 100vh;
	background-size: 100%;
}

.header-logo {
	height: 75px;
	margin-top: 20px;
}

.header-menu {
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
	list-style: none;
}

.header-menu-item a {
	color: rgb(252 176 64);
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.header-menu-item a:hover {
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: bold;
	color: #fff;
}

.header-text {
	margin-top: 195px;
	font-family: 'Montserrat', sans-serif;
}

.mucho-mas {
	font-size: 65px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.lo-mejor {
	font-size: 30px;
    color: #fff;
    display: block;
    text-align: center;
    text-transform: uppercase;
	 font-family: 'Montserrat', sans-serif;
}

.mobile-menu {
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 997;
	height: 33%;
	width: 100%;
	max-width: 220px;
	top: 0;
	right: -200%;
	background-color: rgba(9, 51, 5, 0.85);
	transition: 0.3s;
	box-shadow: 0 0 30px rgba(31, 140, 15, 0.9);
	border-radius: 10px;
}

.mobile-menu.active {
	right: 0;
}
.mobile-menu ul {
	margin-top: -60px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
}
.mobile-menu li {
	font-size: 18px;
	text-transform: uppercase;
	list-style: none;
}
.mobile-menu li a{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.mobile-menu li a:hover {
	color: #5caa43;
}
.hamburger {
	margin-top: 35px;
	float: right;
	display: none;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
	background-color: #fff;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
    background-color: transparent;
}

.main-content-item {
	height: 350px;
}

.main-content-item img {
	width: 100%;
}

.app-load, .ofrece {
	display: block;
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: 'Roboto Slab', serif;
}

.img-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-wrapper img {
	width: 100%;
}
.price-img {
	display: block;
	text-align: center;
}
.app-load-line, .ofrece-line {
	height: 2px;
	width: 80%;
	background-color: #5caa43;
	margin: 0 auto;
	margin-bottom: 40px;
}

.support-contact {
	background: url(../images/fondobanner-consultasjard.jpg);
	min-height: 340px;
	color: #fff;
	margin-top: 40px;
}

.support-contact h2{
	font-size: 38px;
	margin-top: 40px;
	background-color: #3d2e29;
	font-family: 'Montserrat', sans-serif;
}

.support-contact span{
	font-size: 18px;
	background-color: #c38c4d;
}

.support-contact-button {
	padding: 10px 40px;
	background-color: #3d2e29;
	display: block;
	width: 50%;
	text-align: center;
	color: #fff;
	margin-top: 20px;
	transition: 0.3s;
	font-weight: 500;
}

.support-contact-button:hover {
   background-color: #4d423e;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.blocks-4 {
	text-align: center;
}

.blocks-4 h2 {
	font-size: 30px;
	color: #dad052;
	text-align: center;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

.blocks-4 span {
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
}

.delivery {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.delivery span {
	display: block;
	font-family: 'Roboto Slab', serif;
}

.delivery-h {
	color: yellowgreen;
	font-size: 30px;
	text-align: center;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

.delivery-text {
	font-size: 15px;
}

.main-footer {
	background-color: rgb(141 199 63);
	min-height: 180px;
	margin-top: 40px;
	box-shadow: 0px -20px 0.4em #fcb040;
}

.footer-menu {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.footer-menu li {
	margin: 0 15px 0 15px;
}

.footer-menu li a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

.footer-menu li a:hover {
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	color: #000000;
}

.main-footer span {
	display: block;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

.main-footer span a{
	color: rgb(0, 0, 0);
	font-family: 'Roboto Slab', serif;
	
}
.main-footer nav {
	margin-bottom: 30px;
}

.address {
	font-size: 20px;
	font-weight: 500;
	color: #000000;
}

.address-item {
	color: rgb(0, 0, 0);
}

