
.clock-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.clock{
	width: 30vw;
	height: 30vw;
	border-radius: 50%;
	border: 10px double rgb(255, 255, 255);
	position: relative;
	background: radial-gradient(#333, #000);
}

.circle-center {
	background-color: #fff;
	width: 6%;
	height: 6%;
	border-radius: 50%;
	z-index: 999;
	position: absolute;
	top: calc(50% - (6% / 2));
	left: calc(50% - (6% / 2));
}

.item-12 {
	display: block;
	width: 6%;
	height: 6%;
	color: #fff;
	position: absolute;
	top: 1%;
	left: calc(50% - (6% / 2));
	font-weight: bold;
	text-align: center;
}

.item-3 {
	display: block;
	width: 6%;
	height: 6%;
	color: #fff;
	position: absolute;
	right: 1%;
	top: calc(50% - (6% / 2));
	font-weight: bold;
	text-align: center;
}

.item-6 {
	display: block;
	width: 6%;
	height: 6%;
	color: #fff;
	position: absolute;
	bottom: 1%;
	left: calc(50% - 3%);
	font-weight: bold;
	text-align: center;
}

.item-9 {
	display: block;
	width: 6%;
	height: 6%;
	color: #fff;
	position: absolute;
	left: 1%;
	top: calc(50% - (6% / 2));
	font-weight: bold;
	text-align: center;
}

.big-arrow {
	height: 40%;
	width: 2%;
	background-color: rgb(255, 255, 255);
	border-radius: 30%;
	position: absolute;
	left: calc(50% - (2% / 2));
	top: calc(50% - 40%);
}

.small-arrow {
	height: 30%;
	width: 4%;
	background-color: rgb(255, 255, 255);
	border-radius: 30%;
	position: absolute;
	top: calc(50% - 30%);
	left: calc(50% - (4% / 2));
	z-index: 997;
}

.large-arrow {
	height: 45%;
	width: 1%;
	background-color: rgb(255, 1, 1);
	border-radius: 30%;
	position: absolute;
	top: calc(50% - 45%);
	left: calc(50% - (1% / 2));
	z-index: 998;
}

.arrow-1 {
	animation: 42300s move infinite steps(42300);
	transform-origin: bottom center;
	
}

.arrow-2 {
	animation: 3600s move infinite steps(3600);
	transform-origin: bottom center;
}

.arrow-3 {
	animation: 60s move infinite steps(60);
	transform-origin: bottom center;
}

@keyframes move {

	0% {
		transform: rotate(0deg);
	} 

	100% {
		transform: rotate(360deg);
	}

}