
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
	 --color-h1: #3a3a3a;
	 --color-h2: #3a3a3a;
	 --colorP: #3a3a3a;
	 --myfont-h1: 'Arvo', serif;;
	 --myfont-a: 'Roboto Slab', serif;
	 --myfont-h2: 'Arvo', serif;;
	 --myfont-p: 'Roboto Slab', serif;
}

* {
	margin: 0;
	padding: 0;
}

a, a:hover, a:visited, a:focus {
	color: #fff;
	text-decoration: none;
}

a:hover {
	/**/
}

.paragraph {
	color: var(--colorP);
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

.h1 {
	color: var(--color-h1);
	font-family: var(--myfont-h1);
}

.h2 {
	color: var(--color-h2);
	font-family: var(--myfont-h2);
}
span {
	display: block;
}
img.cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.clr {
	clear: both;
}

.hamburger {
	margin-top: 35px;
	float: right;
	display: none;
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
	background-color: #ffffff;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
    background-color: transparent;
}

.main-header-wrapper {
	background: url(../images/book2.jpg) no-repeat;
	min-height: 100vh;
	background-size: cover;
}

.body-about .main-header-wrapper {
	background:none;
	background-color: #000;
	min-height: 100px;
}

.main-menu {
	margin-top: 40px;
	display: flex;
   justify-content: flex-start;
}
.main-menu li {
	margin: 0 20px 0 20px;
}
.main-menu a {
	color: #fff;
	font-size: 15px;
	font-family: var(--myfont-a);
	text-decoration: none;
	text-transform: uppercase;
	transform: 0.3s;
	font-weight: bold;
	transition: 0.3s;
}
.mobile-menu {
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 997;
	height: 100%;
	width: 100%;
	max-width: 250px;
	top: 0;
	right: -200%;
	background-color: rgba(0, 0, 0, 0.85);
	transition: 0.3s;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
.mobile-menu.active {
	right: 0;
}
.mobile-menu ul {
	margin-top: -60px;
	width: 100%;
}
.mobile-menu li {
	font-size: 18px;
	text-transform: uppercase;
}
.mobile-menu li a {
	display: block;
	padding: 10px 0;
	text-align: center;
}
.mobile-menu li a:hover {
	font-weight: 650;
}

.logo {
	margin-top: 20px;
	height: 50px;
}
.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 90px;
}
.header-content h1 {
	color: #fff;
	font-family: var(--myfont-h1);
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 60px;
	text-align: center;
}
.about {
	text-align: center;
	color: #555555;
	min-height: 515px;
}
.about h2 {
	margin-bottom: 20px;
	font-family: var(--myfont-h2);
	margin-top: 50px;
	text-transform: uppercase;
}
.about p {
	font-family: var(--myfont-p);
}

.about-item {
	margin-bottom: 35px;
}

.img-wrapper {
	border: 2px solid #1A303D;
	margin-top: 15px;
}

.price-img {
	font-family: var(--myfont-p);
	font-weight: bold;
	text-align: center;
}
.catalog-items {
	margin-top: 50px;
	margin-bottom: 50px;
}

.animals {
	background: url(../images/cover_image_prices.jpg);
	height: 600px;
	background-size: cover;
}
.text-content .h2 {
	text-align: center;
    margin-top: 35px;
	text-transform: uppercase;
}
.paragraph {
	text-align: center;
	color: var(--colorP);
	font-family: var(--myfont-p);
}

.contact-box {
	text-align: center;
	font-family: var(--myfont-p);
}

.contact-box a {
	color: #1A303D;
	font-size: 30px;
}
.address {
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.143;
  text-align: center;
  margin-left: 20px;
  font-weight: bolder;
}
.address-item {
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 1.667;
  text-align: center;
}
.contacts {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
   text-align: center;
}
.main-footer {
	background-color: #1A303D;
	min-height: 310px;
	margin-top: 50px;
	border: 1px solid #1A303D;
	border-radius: 100px 100px 0 0;	
}
.footer-line {
	height: 2px;
	background-color: rgb(255, 255, 255);
	width: 100%;
	margin-top: 20px;
}

.privacy {
	text-align: center;
	margin-top: 10px;
}
.privacy a {
	margin: 0 20px 0 20px;
	text-transform: uppercase;
}
.footer-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-wrapper nav ul {
	display: flex;
}
.footer-wrapper nav {
	margin-top: 45px;
}
.footer-wrapper nav ul li {
	font-size: 17px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 2.143;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
	font-weight: bolder;
}