@media (max-width: 992px){
	.main-header {
		min-height: 550px;
	}

	.main-menu {
		display: none;
	}

	.hamburger {
		display: block;
	}

	.header-content {
		margin-top: 125px;
	}

	.header-content h1 {
		font-size: 40px;
	}

	.header-content p {
		font-size: 20px;
	}

	.header-content a {
	background-color: #fff;
	color: #c0301c;
	text-decoration: none;
	font-weight: bolder;
	border-radius: 5px;
}

 