@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

.header {
	background: url(../images/top-bg1.png);
	min-height: 100vh;
	background-size: cover;
}

.body-about .top-menu a {
	color: #3A3A3A;
}

.body-contact .top-menu a {
	color: #3A3A3A;
}

.body-catalog .top-menu a {
	color: #3A3A3A;
}

.top-menu {
	list-style: none;
	margin-top: 40px;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}
.mobile-menu {
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 997;
	height: 100%;
	width: 100%;
	max-width: 200px;
	top: 0;
	left: -200%;
	background-color: rgb(236, 145, 35);
	transition: 0.3s;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
.mobile-menu.active {
	left: 0;
}
.mobile-menu ul {
	margin-top: -60px;
	width: 100%;
	padding: 0;
}
.mobile-menu li {
	font-size: 18px;
	text-transform: uppercase;
	list-style: none;
}
.mobile-menu li a {
	display: block;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.mobile-menu li a:hover {
	font-weight: 650;
	color: #020202;
}
.top-menu li {
	display: inline-block;
	margin-left: 45px;
}
.top-menu a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.3s;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
.top-menu a:hover {
	color: rgb(219, 128, 8);
	line-height: 1.5;
}
.hamburger {
	margin-top: 35px;
	float: right;
	display: none;
}


.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
	background-color: #c06803;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
    background-color: transparent;
}
.logo {
	margin-top: 20px;
	height: 70px;
}
.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
	z-index: 997;
}
.header-content h1 {
	text-transform: uppercase;
    font-size: 51px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #f2932782;
	 line-height: 1;
    font-family: 'Oswald', sans-serif;
	 font-weight: 500;
}
.line-after {
	 text-align: center;
    text-transform: uppercase;
    color: #3a3a3a;
    margin-top: 20px;
	 font-family: 'Oswald', sans-serif;
	 font-weight: 500;
}

.h2-par {
	text-align: center;
    text-transform: uppercase;
    color: #3a3a3a;
    margin-top: 20px;
	 font-family: 'Oswald', sans-serif;
	 font-weight: 500;
}

.text-item, .paragraph {
	color: #3a3a3a;
	text-align: center;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.contact-it {
	font-weight: 500;
	font-size: 30px;
	margin: 0 15px 0 15px;
}

.contact-box {
	display: block;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin-top: 20px;
}

.price-img {
	display: block;
}
.img-wrapper {
	width: 100%;
}
.img-wrapper img {
	width: 100%;
}
.price-img {
	display: block;
	text-align: center;
	font-size: 20px;
	color: #000;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.app-load-line, .ofrece-line {
	height: 2px;
	width: 80%;
	background-color: #e1731a;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
}

.app-load {
	display: block;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 18px;
}
.main-footer {
	background-color: #071b2e;
	min-height: 180px;
	margin-top: 40px;
	box-shadow: 0px -20px #021c3578;
}
footer {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.footer-menu {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	margin-top: 40px;
	flex-wrap: wrap;
}

.footer-menu li {
	margin: 0 15px 0 15px;
}

.footer-menu li a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
}

.footer-menu li a:hover {
	color: #cf7604;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
}

.main-footer span {
	display: block;
	text-align: center;
	margin-top: 15px;
}

.tel-box {
	
}


.main-footer span a{
	color: #fff;
}
.main-footer nav {
	margin-bottom: 30px;
}

.address {
	font-size: 20px;
	font-weight: 500;
	color: #e1731a;
}

.address-item {
	color: rgb(255, 255, 255);
}