@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face {
	font-family: 'MyriadPro';
	font-weight: 300;
	src: url('../fonts/MyriadPro-Light.woff2') format('woff2');
}

/*-----------Header style--------------*/

.top-line {
	background-color: #f8f6f6;
	min-height: 145px;
}

.boost {
	margin: 51px 0 0 25px;
}

.button-menu {
	float: right;
}

.mobile-menu {
	height: 100%;
	width: 100%;
	max-width: 250px;
	position: fixed;
	right: -200%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.85);
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 997;
}

.mobile-menu.active {
	right: 0;
}

.mobile-menu ul {
	padding: 0;
	list-style: none;
}

.mobile-menu li {
margin-top: 10px;
}

.mobile-menu li a {
	font-family: "BigNoodleTitling";
	color: #746868;
	font-size: 25px;
}

.mobile-menu li a:hover {
	color: #ffffff;
	text-decoration: none;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	background-color: #696969;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
	background-color: transparent;
}

.hamburger {
	display: none;
}

.main-menu {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin-top: 55px;
	padding: 0;
}

.main-menu li {
	margin-left: 20px;
	margin-right: 20px;
}

.main-menu li a {
	font-family: "BigNoodleTitling";
	color: #746868;
	font-size: 25px;
}

.main-menu li a:hover {
	text-decoration: none;
	color: #f15425;
}

.content-header {
	min-height: 700px;
	background: url(../images/bg-cor.png);
	text-align: center;
}

.content-header h1 {
	margin-top: 320px;
	font-family: "BigNoodleTitling";
	font-size: 72px;
	color: rgb(214, 213, 213);
	letter-spacing: 10px;
	line-height: 1;
}

.content-header h3 {
	font-size: 36px;
	font-family: "BigNoodleTitling";
	color: rgb(214, 213, 213);
	line-height: 1.2;
	letter-spacing: 5px;
}

.content-header img {
	margin-top: 150px;
}
 
.content-header span {
	display: block;
	font-family: 'Roboto';
	font-size: 12px;
	color: rgb(255, 255, 255);
	margin-top: 5px;
}
 
/*-----------Main style--------------*/
 
.about {
	text-align: center;
	margin-top: 50px;
}
.line-after {
	font-size: 48px;
	font-family: "BigNoodleTitling";
	color: #353535;
	letter-spacing: 7px;
}

.line-after:after {
	content: '';
	display: block;
	background-color: #f6744b;
	height: 2px;
	width: 180px;
	margin: 0 auto;
}

.about p {
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(105, 105, 105);
	line-height: 1.2;
	width: 50%;
	text-align: center;
	margin: 30px auto 0 auto;
}
.grey {
	text-align: center;
	background-color: #ebebeb;
	margin-top: 63px;
	min-height: 200px;
	margin-bottom: 120px;
}
.grey img {
	margin-top: 32px;
}

.grey h3 {
	font-size: 18px;
	font-family: "Roboto";
	color: rgb(112, 112, 112);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	margin-top: 25px;
}

.grey p {
	color: #707070;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 1.2;
}

.video-block-item img {
	width: 50%;
	float: left;
	display: block;
}
.video {
	display: flex;
}
.video-item {
	width: 50%;
	height: 430px;
	background-color: #ebebeb;
}
.video-text {
	width: 50%;
	height: 430px;
	background-color: #171f23;
	display: flex;
	justify-content: center;
}
.video-text-content {
	margin-top: 130px;
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.video-text-content span {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: rgb(231, 231, 231);
	font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.video-text-content p {
	text-align: center;
	color: rgb(105, 105, 105);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	margin-top: 30px;
}
.video-text-content a {
	display: block;
	height: 35px;
	width: 125px;
	background-color: #e84c3d;
	text-transform: uppercase;
	color: #fff;
	padding-top: 4px;
	text-align: center;
	margin-top: 30px;
}

.video-text-content a:hover {
	text-decoration: none;
	color: #fff;
}

.video-item {
	background: url(../images/video.jpg);
}

.latest-works-items {
	list-style: none;
	text-align: center;
	padding-left: 0;
	margin-bottom: 50px;
	margin-top: 30px;
}
.latest-works-items ul {
	padding: 0;
}
.latest-works-items li {
	color: #555555;
	display: inline-block;
	margin-left: 30px;
}
.latest-works-items span {
	font-family: "Roboto";
	color: #3d3d3d;
	font-weight: lighter;
	text-transform: uppercase;
	padding-bottom: 5px;
}
.latest-works-items span:hover {
	text-decoration: none;
	color: #222;
	font-weight: bold;
	border-bottom: 2px solid #e84c3d;
	cursor: pointer;
}
.work-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.item {
	width: 25%;
	height: 175px;
}

.item img {
	width: 100%;
	height: 100%;
}
.black-carousel {
	min-height: 240px;
	width: 100%;
	background-color: #1c1c1c;
}
.black-carousel-list {
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	position: relative;
}

.black-carousel-item {
	display: flex !important;
	justify-content: center;
}

.black-carousel-item span {
	font-family: 'MgOpen Modata';
	color: #fff;
	font-size: 30px;
	margin-left: 15px;
}

.carousel-arrow-left {
	position: absolute;
	top: 17px;
	left: 0px;
	cursor: pointer;
}

.carousel-arrow-right {
	position: absolute;
	top: 17px;
	right: 20px;
	cursor: pointer;
}

.carousel-item-2 {
	margin-top: 7px;
}

.team {
	margin-top: 85px;
}

.team-worker {
	background-color: #ebebeb;
	min-height: 435px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills {
	background-color: #ebebeb;
	min-height: 435px;
}
.team-worker-foto {
	height: 135px;
	width: 135px;
	background-color: #f26c4f;
	border-radius: 50%;
	margin-top: 75px;
}

.team-worker-social {
	margin-top: 20px;
	padding: 0;
}

.team-worker-social-item {
	display: inline;
	list-style: none;
	margin: 0 5px 0 5px;
}

.team-worker-name {
	font-size: 20px;
	font-family: "Roboto";
	color: rgb(61, 61, 61);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	margin-top: 20px;
 }

 .team-worker-position {
		font-size: 14px;
		font-family: "Roboto";
		color: rgb(61, 61, 61);
		line-height: 1.2;
		text-align: center;
 }

 .team-worker-social-item a {
	padding: 5px;
 }

 .skills {
	display: flex;
	flex-direction: column;
 }
 .skills h2 {
	font-size: 24px;
	font-family: "Roboto";
	color: rgb(61, 61, 61);
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
	margin-left: 68px;
	margin-top: 120px;
}

.skill-content {
		font-size: 14px;
		font-family: "Roboto";
		color: rgb(133, 131, 131);
		line-height: 1.2;
		margin-left: 68px;
}
 
.skills-items {
	margin-top: 50px;
	margin-left: 68px;
	display: flex;
}
.skills-items-name {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}

.skills-items-progress {
	display: flex;
	flex-direction: column;
	width: 440px;
	margin-left: 15px;
	margin-top: -5px;
}

.skills-items-progress progress {
	width: 440px;
	margin-top: 29px;
	background-color: orange;
	height: 3px;
}


.skills-items-percent {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.skills-items-name span {
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(61, 61, 61);
	font-weight: bold;
	line-height: 1.2;
	margin-top: 16px;
 }

 .skill-percent {
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(61, 61, 61);
	font-weight: bold;
	line-height: 1.2;
	margin-top: 16px;
 }

 .some-features {
	 background-color: #171f23;
	 min-height: 385px;
	 margin-top: 100px;
 }

 .some-feature-line {
	 color: rgb(255, 255, 255);
	 font-size: 36px;
	 font-family: "Roboto";
	 color: rgb(246, 246, 246);
	 line-height: 1.2;
	 text-align: center;
	 text-transform: uppercase;
	 font-weight: lighter;
	 margin-top: 60px;
	 letter-spacing: 5px;
 }

 .some-feature-line:after {
	content: '';
	display: block;
	background-color: #404040;
	height: 2px;
	width: 100px;
	margin: 20px auto 0 auto;
 }

 .some-features-items h3{
	margin-top: 25px;
	font-size: 18px;
	font-family: "Roboto";
	color: rgb(246, 246, 246);
	line-height: 1.2;
	font-weight: lighter;
 }

 .some-features-items p{
	font-size: 48px;
	font-family: "Roboto";
	color: rgb(246, 246, 246);
	line-height: 1.2;
 }

 .some-features-items {
	 text-align: center;
	 margin-top: 50px;
 }

 .blog-post-items {
	 min-height: 535px;
	 margin-top: 55px;
 }

 .blog-post-items:hover .img-blog-wrapper:not(:hover) {
	filter: blur(3px)
 }

.img-blog-wrapper img {
	width: 100%;
}

/* .img-blog-wrapper:hover .filter {
	filter: blur(4px);
} */

.img-blog-wrapper {
	position: relative;
	filter: blur(0);
	transition: 0.3s;
}

.img-blog-wrapper .filter {
	filter: blur(0);
	transition: 0.4s;
}

.img-blog-wrapper:after {
	/* content: ''; */
	display: block;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s;
}

.blog-social {
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 75px;
	z-index: -1;
	opacity: 0;
	transition: .3s;
	width: 100%;
	text-align: center;
}

.img-blog-wrapper:hover .blog-social {
	opacity: 1;
	z-index: 2;
}

.blog-social img {
	width: auto;
}
.blog-social li {
	list-style: none;
	display: inline-block;
	padding: 10px 10px;
	background-color: #6b6b6b;
	border-radius: 50%;
}

.blog-social li:hover {
	background-color: #e87e5d;
}

.img-blog-wrapper:hover:after {
	background-color: rgba(0, 0, 0, 0.5);
}

.create {
	min-height: 210px;
	background-color: #ebebeb;
}

.creat-creative-clean {
	font-size: 18px;
	font-family: "Roboto";
	color: rgb(80, 80, 80);
	line-height: 1.2;
	padding-top: 40px;
   margin-left: 25px;
}

 .lorem-blog {
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(121, 121, 121);
	line-height: 1.2;
	margin-left: 25px;
	margin-top: 30px;
}

 .post-date {
	 display: block;
}
 
 .post-date img {
	height: 100%;
}

 .blog-stat-item {
	display: flex;
	align-items: center;
	margin-left: 25px;
	margin-top: 25px;
}

 .blog-stat-item span {
	 display: block;
	 font-size: 10px;
	 font-family: "Roboto";
	 color: rgb(138, 137, 137);
	 line-height: 1.2;
	 text-align: left;
	 margin-left: 10px;
	 cursor: pointer;
}

 .blog-stat-item img {
	 cursor: pointer;
}

.choose-plan {
	min-height: 700px;
	background-color: #171f23;
}

 .choose-plan-line-after {
	font-size: 36px;
	font-family: "Roboto";
	color: rgb(246, 246, 246);
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	margin-top: 60px;
}

 .choose-plan-line-after:after {
	content: '';
	display: block;
	background-color: #404040;
	height: 2px;
	width: 100px;
	margin: 20px auto 0 auto;
}


.choose-plan-items {
	margin-top: 40px;
}

.choose-plan-price {
	text-align: center;
	color: #fff;
	line-height: 0.5;
	background: black;
   width: 190px;
	height: 130px;
	font-weight: lighter;
	padding-top: 40px;
}

.type-plan {
	display: block;
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
 }

 .name-plan {
	 display: block;
	font-size: 36.328px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
 }

 .plan-price {
	 min-height: 130px;
	 background-color: #0e1316;
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
 }

 .desc-plan {
	 min-height: 320px;
	 background-color: #1f282c;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 font-family: 'MyriadPro', sans-serif;
 }

 .plan-item {
border: 2px solid #171f23;
transition: 0.4s;
 }
 
 .plan-item:hover {
	border: 2px solid #f6744b;
 }

 .desc-plan-list {
	 list-style: none;
	 text-align: center;
	 padding: 0;
	 padding-top: 40px;
 }
 
 .desc-plan-list span {
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
	transition: 0.4s;

 }

 .plan-item:hover .desc-plan-list span {
	color: #f6744b;
	font-weight: bold;
 }

 .desc-plan-list p {
	 display: inline-block;
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
 }

 .button-purchase {
	 display: block;
	 font-size: 14px;
	 font-family: "Roboto";
	 color: rgb(255, 255, 255);
	 font-weight: bold;
	 line-height: 1.2;
	 padding: 15px 25px;
	 background-color: #f6744b;
	 text-align: center;
	 text-transform: uppercase;
	 width: 50%;
	 border-radius: 10px;
	 margin-top:10px;
 }
 
 .button-purchase:hover {
	text-decoration: none;
	color: #fff;
 }

 .getintouch-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
 }

 .getintouch-form-item {
	min-width: 49%;
	border: none;
	border-bottom: 1px solid #cacaca;
 }

 .text-item {
	min-width: 100%;
	border: none;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 50px;
 }

 .form-item-name {
	 display: block;
	 min-width: 49%;
	 text-transform: uppercase;
	 font-size: 14px;
	 font-family: "Roboto";
	 font-weight: bold;
	 line-height: 1.2;
	 color: rgb(105, 105, 105);
	 letter-spacing: 2px;
	 margin-top: 50px;
 }

 .form-button {
	font-size: 14px;
	font-family: "Roboto";
	color: #f26c4f;
	background-color: #fff;
	font-weight: bold;
	padding: 15px 40px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 2px solid #f6744b;
	transition: 0.3s;
 }

 .getintouch-form a:hover {
	color: #fff;
	background-color: #f6744b;
}
.red-star {
	color: red;
	width: 10px;
}

.form-button:hover {
	color: rgb(255, 255, 255);
	text-decoration: none;
 }

 .line-footer span {
		font-size: 24px;
		font-family: "Roboto";
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;
 }

 .line-footer {
	 min-height: 85px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }
 .top-line-footer {
	 background-color: #0c1215;
	 min-height: 85px;
	 margin-top: 30px;
 }

 .line-footer img {
	margin-left: 20px;
 }
 .content-footer {
	min-height: 240px;
	background-color: #171f23;
 }
 .content-footer img {
	 text-align: center;
	 margin: 0 auto;
 }
 .content-footer-lists {
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
	 align-items: center;
 }

.content-footer-ul {
	padding: 0;
	text-align: center;
	margin-top: 50px;
	list-style: none;
	color: #fff;
	text-transform: uppercase;
 }

 .footer-boostfolia {
	font-size: 24px;
	font-family: "BigNoodleTitling";
	color: rgb(255, 255, 255);
	line-height: 1.2;
 }

 .content-footer-ul-item {
	 margin-top: 15px;
 }

 .made-with {
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	line-height: 1.2;
 }

 .footer-social {
	 list-style: none;
	 padding: 0;
 }

 .footer-social-item {
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
 }
 
.progress-item {
	background-color: #000;
	margin: 20px auto;
	width: 500px;
	height: 30px;
	border-radius: 10px;
	overflow: hidden;
}

.progress {
	height: 100%;
	background-color: rgb(100, 190, 100);
	width: 50%;
}
 