@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&display=swap');

:root {
	 --color-h1: #000000;
	 --color-h2: #000000;
	 --colorP: #000000;
	 --myfont-h1: 'Montagu Slab', serif;
	 --myfont-a: 'Montagu Slab', serif;
	 --myfont-h2: 'Montagu Slab', serif;
	 --myfont-p: 'Montagu Slab', serif;
}

* {
	margin: 0;
	padding: 0;
}

a, a:hover, a:visited, a:focus {
	color: #fff;
	text-decoration: none;
	font-family: var(--myfont-a);
}

a:hover {
	/**/
}

.paragraph {
	color: var(--colorP);
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

.h1 {
	color: var(--color-h1);
	font-family: var(--myfont-h1);
}

.h2 {
	color: var(--color-h2);
	font-family: var(--myfont-h2);
}
span {
	display: block;
}
img.cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.clr {
	clear: both;
}

.body-about {
	
}

.top-line {
	background-color: #fff;
	min-height: 100px;
}
.logo {
	height: 50px;
	width: 50px;
   display: block;
   margin-top: 25px;
}
.button-menu {
	float: right;
}

.mobile-menu {
	height: 100%;
	width: 100%;
	max-width: 250px;
	position: fixed;
	left: -200%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.85);
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 997;
}

.mobile-menu.active {
	left: 0;
}

.mobile-menu ul {
	padding: 0;
	list-style: none;
}

.mobile-menu li {
margin-top: 10px;
}

.mobile-menu li a {
	font-family: "BigNoodleTitling";
	color: #b18941;
	font-size: 25px;
}

.mobile-menu li a:hover {
	color: #ffffff;
	text-decoration: none;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	background-color: #b18941;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
	background-color: transparent;
}

.hamburger {
	display: none;
}

.main-menu {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	padding: 0;
}

.main-menu li {
	margin-left: 20px;
	margin-right: 20px;
}

.main-menu li a {
	font-family: "BigNoodleTitling";
	color: #000000;
	font-size: 25px;
	transition: 0.3s;
	letter-spacing: 5px;
}

.main-menu li a:hover {
	text-decoration: none;
	color: #ab8549;
}

.content-header {
	min-height: 700px;
	background: url(../images/top-bg.jpg) no-repeat;
	text-align: center;
	background-size: cover;
	box-shadow: 0px -10px #bc8f33;
}

.content-header h1 {
	margin-top: 250px;
	font-family: "BigNoodleTitling";
	font-size: 80px;
	color: #fff;
	letter-spacing: 4px;
	line-height: 1;
}

.content-header h3 {
	font-size: 36px;
	font-family: "BigNoodleTitling";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	letter-spacing: 5px;
}

.content-header img {
	margin-top: 150px;
}
 
.content-header span {
	display: block;
	font-family: 'Roboto';
	font-size: 12px;
	color: rgb(255, 255, 255);
	margin-top: 5px;
}
 
.about {
	text-align: center;
	color: #555555;
	min-height: 515px;
}
.about h2 {
	margin-bottom: 20px;
	font-family: var(--myfont-h2);
	margin-top: 40px;
	text-transform: uppercase;
	text-align: center;
}
.about p {
	font-family: var(--myfont-p);
	text-align: center;
	margin-top: 20px;
    font-size: 20px;
}

.about-item {
	margin-bottom: 35px;
}

.img-wrapper {
	margin-top: 15px;
   border-radius: 4px;
}

.price-img {
	font-size: 15px;
	font-family: var(--myfont-p);
	font-weight: bold;
	text-align: center;
}

.description-img-wrapper h3 {
	font-weight: bold;  
	text-transform: uppercase;
	color: rgb(133, 114, 5);
	text-align: center;
	margin-top: 22px;
	font-size: 25px;
	font-family: var(--myfont-h2);
}

.price-img {
	font-weight: bold;  
	text-transform: uppercase;
	color: rgb(133, 114, 5);
	text-align: center;
	margin-top: 22px;
	font-size: 25px;
	font-family: var(--myfont-h2);
}

.description-img {
	font-family: var(--myfont-p);
	text-align: left;
}
.catalog-items {
	margin-top: 50px;
	margin-bottom: 50px;
}

.books {
	background: url(../images/books-body.jpg) no-repeat;
	height: 600px;
	background-size: cover;
	margin-top: 35px;
}
.text-content .h2 {
	text-align: center;
   margin-top: 35px;
	text-transform: uppercase;
	color: var(--color-h2);
	font-family: var(--myfont-h2);
}
.paragraph {
	font-family: var(--myfont-p);
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	color: var(--colorP);
}

.contact-box {
	text-align: center;
	font-family: var(--myfont-p);
}

.contact-box a {
	color: var(--myfont-a);
	font-size: 40px;
}
.address {
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.143;
  text-align: center;
  margin-left: 20px;
  font-weight: bolder;
  font-family: var(--myfont-a);
}
.address-item {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.667;
  text-align: center;
  font-family: var(--myfont-a);
}
.contacts {
	margin-top: 50px;
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: space-around;
}
.main-footer {
	background-color: var(--colorP);
	min-height: 240px;
	margin-top: 50px;
}

.privacy {
	text-align: center;
	margin-top: 10px;
}
.privacy a {
	margin: 0 20px 0 20px;
	text-transform: uppercase;
	font-size: 20px;
}
.footer-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 13px;
}
.footer-wrapper nav ul {
	display: flex;
}
.footer-wrapper nav ul li {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bolder;
    margin-right: 10px;
}
.footer-wrapper .footer-menu-item{
	color: #bc8f33;
}

.footer-wrapper .footer-menu-item:hover {
	color: #fff;
}

.g-container{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100%;
 }
 .glitch {
	position: relative;
 }
 .glitch::before,
 .glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
 }
 .glitch::before {
	left: 2px;
	text-shadow: -1px 0 rgb(8, 104, 5);
	animation: glitch-anim-1 2s infinite linear alternate-reverse;
 }
 .glitch::after {
	left: -2px;
	text-shadow: -1px 0 rgb(156, 146, 7);
	animation: glitch-anim-2 2s infinite linear alternate-reverse;
 }
 
 .glitch::before {
	clip: rect(44px, 450px, 56px, 0);
 }
 
 @keyframes glitch-anim-1 {
	0% {
	  clip: rect(70px, 450px, 76px, 0);
	}
	10% {
	  clip: rect(29px, 450px, 16px, 0);
	}
	20% {
	  clip: rect(76px, 450px, 3px, 0);
	}
	30% {
	  clip: rect(42px, 450px, 78px, 0);
	}
	40% {
	  clip: rect(15px, 450px, 13px, 0);
	}
	50% {
	  clip: rect(53px, 450px, 5px, 0);
	}
	60% {
	  clip: rect(19px, 450px, 16px, 0);
	}
	70% {
	  clip: rect(90px, 450px, 3px, 0);
	}
	80% {
	  clip: rect(22px, 450px, 78px, 0);
	}
	90% {
	  clip: rect(35px, 450px, 13px, 0);
	}
	100% {
	  clip: rect(13px, 450px, 5px, 0);
	}
 }
 
 @keyframes glitch-anim-2 {
	0% {
	  clip: rect(70px, 450px, 76px, 0);
	}
	20% {
	  clip: rect(29px, 450px, 16px, 0);
	}
	40% {
	  clip: rect(76px, 450px, 3px, 0);
	}
	60% {
	  clip: rect(42px, 450px, 78px, 0);
	}
	80% {
	  clip: rect(15px, 450px, 13px, 0);
	}
	100% {
	  clip: rect(53px, 450px, 5px, 0);
	}
 }